@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
}

* {
  font-family: 'Roboto', sans-serif;
}

.msg {
  animation: appear_msg 5s linear forwards
}

@keyframes appear_msg {
  from {
    display: block;
  }
  to {
    display: none
  }
}