@font-face {
  font-family: 'Lato', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
}

#app {
  margin: 0px 15px;
}

button {
  cursor: pointer
}

.centered-content {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100% !important;
  width: 100% !important;
}

.no-margin {
  margin: 0 !important;
}

.small-font {
  font-size: 12px;
}

.medium-font {
  font-size: 15px;
}

.secondary-font {
  color: grey
}

.low-margin-container {
  margin: 5px 0px !important;
}

.high-margin-container {
  margin: 20px 0 !important;
}

.low-padding-container {
  padding: 5px 0px !important;
}

.link-without-blue {
  color: #333;
}

.placeholder {
  min-height: 100px;
}

.max-widthed {
  max-width: 100% !important;
}

.splitted {
  display: flex;
  justify-content: space-between;
}

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.msg-animation {
  animation: disappear_msg 5000ms cubic-bezier(.8,-0.01,.91,.25) forwards
}

@keyframes disappear_msg {
  from {
    
  }
  to {
    transform: translateZ(-200px);
    filter: opacity(0);
    display: none
  }
}